---
layout: default
title: games
boxsize: 250px
---

<h1 style="font-size: 72px;"> 
    <img src="assets/images/bat.gif" style="width: 8px;">
    <img src="assets/images/bat.gif" style="width: 16px;">
    <img src="assets/images/bat.gif" style="width: 32px;">
    <img src="assets/images/bat.gif" style="width: 64px;">
    Games 
    <img src="assets/images/bat.gif" style="width: 64px;">
    <img src="assets/images/bat.gif" style="width: 32px;">
    <img src="assets/images/bat.gif" style="width: 16px;">
    <img src="assets/images/bat.gif" style="width: 8px;">
</h1>

<p>
    This section is dedicated to all games I developed or am currently developing. 
</p>

<p>
    At the moment I'm still figuring out how I'll publish them. I don't want to create a entry in the side panel for all of them, while I want to publish current WIP posts about others.
    For now, I'll keep publishing them in no particular order.
</p>

<p>
    Most of them I gave up due to miscalculated-amount-of-neccessary-work reasons. Have been improving in this area though. 
</p>

<div class="flextable">
    {% assign sorted = site.games | sort : "date" %}
    {% for game in sorted %}
    <a href="{{game.url}}">
        <div class="box" style="width: {{page.boxsize}}; height: {{page.boxsize}}; display:flex; flex-direction:column; align-items:center; justify-content:space-between">
            <h3>
                {{game.title}} ({{game.date | date: "%Y"}})
            </h3>
            <img src="{{game.thumbnail}}" style="width: 90%;">
        </div>
    </a>
    {% endfor %}

    {% for i in (1..6) %}
    <a href="">
        <div class="box" style="width: {{page.boxsize}}; height: {{page.boxsize}}; display:flex; flex-direction:column; align-items:center; justify-content:center">
            <img src="assets/images/wippikachu.gif" style="width:80%">
        </div>
    </a>
    {% endfor %}
</div>