
$main_color:rgb(211, 64, 64);
$main_shadow_color:rgb(211, 64, 64);
$white_color : rgba(255, 255, 255 , 1);

.box {
    background-color: rgba(22, 22, 22, 0.712);
    border: 1px solid $main_color ;
    box-shadow: $main_shadow_color 5px 5px;
    margin: 10px;
    padding: 10px;
}


.title {
    text-align: center;
//    text-shadow: red -3px 2px , green 3px 2px , blue 0px -4px;
}

.bigasstitle {
    text-align: center;
    font-size: 100px;
    text-decoration: none;
}

.smoll{
    font-size: 55%;
}
.body{
    background-image: url("/assets/images/dark_tile.png");
    color:$white_color;
    display: flex;
    flex-direction: column;
    font-size: larger;
    text-shadow: black -1px 1px , black 1px 1px , black 0px -1px , $main_color 3px 3px 2px;
    align-items: center;
}
.headerpanel{
    display: block;
    flex-direction: column;
    width: 50%;
}
#panelsparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
}
#sidepanel{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}
#postpanel{
    text-align: center;
    width: 70%;
    font-size: 115%;
}
.flextable{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.box > p {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.box > ul {
    margin-left: 5%;
    margin-right: 5%;
}

/* all links */
a {
    color: $white_color;
}