---
layout: gamepost
title: Blindrl 2
thumbnail: /assets/images/blindrl2/2.gif
tools: Godot
date: 2017-01-22
---



<p>
    The same will to make <a href="/games/blindrl">Blindrl(2014)</a> came back again. It wasn't meant to be a sequel but what I had in mind for 
    <a href="/games/blindrl">Blindrl(2014)</a>. 
    This time I judged myself more skillful, had gained experience, let's try again boy! Blindrl will see the light of the day!
</p>
<p>
    Fast forward: it didn't. Lived for around 2 months. There was still too much left unplanned. Also, I couldn't simply do it in Godot (at least without tweaking the engine in 
    order to optimize stuffs like a more performant rendering). It was kind of my dream game but wasn't possible once again this time. 
</p>

<br>
<img src="/assets/images/github.png" style="height:32px">(Haven't published the private repo yet, gotta clean some mess before)
<br>

<br>
{% include image.html width="40%" src="/assets/images/blindrl2/1.gif" subtile="Of course you can fight explosive trees to gather logs. Also some edgy UI." %}
{% include image.html width="40%" src="/assets/images/blindrl2/3.gif" subtile="Of course you can build your house with wooden furnitures" %}
{% include image.html width="40%" src="/assets/images/blindrl2/0.gif" subtile="Testing the pathfinding from Godot." %}
{% include image.html width="40%" src="/assets/images/blindrl2/2.gif" subtile="One of the main ideas what this kind of instanced dungeons spawned around the main map." %}
{% include image.html width="40%" src="/assets/images/blindrl2/map.png" subtile="A <i>very original</i> generated map" %}
<br>


<h1> Development </h1>

<p>
    I was indeed more experient than what I was 3 years ago. Built enough confidence to create more bigger games with Godot.
    I knew that it wouldn't be easy. If I had expectations to achieve a publishable bare minimum game of what I had in mind within 1 year of 
    dedicated work (aside college), would have continued. I accepted it wouldn't be possible when I reached some performance bottlenecks with Godot, specifically
    with rendering a large world of tiles (I wanted at least 512x512. Later I would find out this was caused because each tile was calling a drawcall from OpenGL. Tilemaps from Godot 3.2.3 does a better job with batch calls).
</p>

<p>
    Really liked the workflow with Godot, was getting the hang of building some interesting UI. Had some experience with Unity, could have just rebuilt
    the game there, but I also accepted that even then I'd have to work more on planning stuffs beforehand. 
    I sensed somehow it was my kind of dream game but didn't know how to make a proper development plan, a Game Design Document. 
</p>


<h2>Assets</h2>
<p>
    Once again I did use   
    <a href="https://opengameart.org/content/dawnlike-16x16-universal-rogue-like-tileset-v181">this DragonDePlatino's bundle</a>.
    Since this time the game was a little more dynamic, I felt the tileset very limited. My pixel art at the time was still very basic, but even
    then I tried to make my own tileset. Didn't ended out very good...
</p>
{% include image.html width="40%" src="/assets/images/blindrl2/finaltest.gif" subtile="" %}


<h2>Future</h2>
<p>
    It wasn't the real end of Blindrl. 
    Later this same year I'd try again once more, this time with my eyes on 🔥fire🔥. 
    This will probably be one special post here on this blog.
</p>