---
layout: gamepost
title: Paraimalia
thumbnail: /assets/images/paraimalia/thumbnail.gif
tools: C++, Allegro5, Godot, Aseprite
date: 2016-01-24
---

<p>
    Paraimalia was meant to be many things... some sort of Cave Story + Undertale + generic Metroidvania. Never saw the daylight. 
</p>

<h1>Development</h1>
<p>
    Early 2016... It was a typical case of no planned development like <a href="/games/blindrl">Blindrl</a> once again.
    I called it "blindshooter", following the same reasons of blindrl ("blind" when looking at the scope of it).
</p>
<p>
    <b>My only regret today is that I did'nt gave up on it earlier.</b>
    Should have focused more on learning the most I could, learning the things you can't show off to your friends, specially if I wasn't using a game engine at first
    (started with C++/Allegro5).
</p>
<p>
    I still had too much to learn of overall game development.
    Barely knew how the compiling+linking stages goes, just prayed every time I pressed that godamn Compile+Run button from Code::blocks. 
    <br>
    Never spent time to make proper tools.
    <br>
    Never used git(☠️!).
    <br>
    Never used a debug breakpoint(!☠️☠️!).  
    <br>
    I was just throwing game data into plain C++ code(!!☠️☠️☠️!!).
</p>
<p>
    I have reworked on it from zero 2 times. Except for the last buildings, since I wasn't using git, couldn't recover many .zipped versions I had. Luckily I found some GIFs laying around my drive.
</p>

<h2>First prototypes</h2>
<p>
    Ugh. First time trying pixel art ever.
</p>
{% include image.html width="25%" src="/assets/images/paraimalia/oldest.gif"  subtile="Recycled this explosion in so many projects" %}

<h2>First rework</h2>
<p>
    Reworking from zero after a couple weeks.
</p>
<p>
    This was my first time ever with Godot! I got the grasp of it very early tho!
    I also remade the few assets I had. I can remember being very proud of it... now I'd give it a solid 6/10. 
    Static environment was not bad, but had problems with palettes and lazy animations.  
</p>

{% include image.html width="30%" src="/assets/images/paraimalia/old1.gif"  subtile="Had some problems animating this guy" %}
{% include image.html width="30%" src="/assets/images/paraimalia/old2.gif"  subtile="Of course I needed to try different hairs." %}
{% include image.html width="30%" src="/assets/images/paraimalia/old3.gif"  subtile="Had something with this big bubble gun" %}
{% include image.html width="30%" src="/assets/images/paraimalia/old4.gif"  subtile="\"What is your name, Mr. stranger?\"" %}
{% include image.html width="30%" src="/assets/images/paraimalia/old10.gif"  subtile="Of course it had... throwable shurikens... and fire shurikens..." %}
{% include image.html width="30%" src="/assets/images/paraimalia/old11.gif"  subtile="Planned some narrative around this kind of orphanage [GIF is corrupted]" %}

<h3>Humorous + fantasy themed scenes</h3>
<p>
    Had planned a lot about a story! This scene was surprisingly funny. 
    I was very inspired with Undertale's kind of humour and some unexpected gameplays.
</p>
{% include image.html width="40%" src="/assets/images/paraimalia/old5.gif"  subtile="Entering spooky home..." %}
<br>
{% include image.html width="65%" src="/assets/images/paraimalia/old6.gif"  subtile="...what..." %}
<br>
{% include image.html width="65%" src="/assets/images/paraimalia/old7.gif"  subtile="...after some whacky dialogues,\"Cut tomatoes as if your life depends on it\"" %}
<br>
{% include image.html width="65%" src="/assets/images/paraimalia/old8.gif"  subtile="\"I dont think you are understading me very well... I want more!! MORE!!\"" %}
<br>
{% include image.html width="65%" src="/assets/images/paraimalia/old9.gif"  subtile="that's it" %}


<h3>Last rework</h3>
<p>
    I don't remember why I wanted to rework everything once again so badly. Ugly mistake with color palettes this time. Have improved on animations though.
    Was very inspired by <a href="https://en.wikipedia.org/wiki/Momodora:_Reverie_Under_the_Moonlight">Momodora</a> this time. 
</p>

{% include image.html width="45%" src="/assets/images/paraimalia/new1.gif"  subtile="A very ugly mistake on composition." %}
{% include image.html width="45%" src="/assets/images/paraimalia/new2.gif"  subtile="Megaman Zero Z-saber combo?" %}
{% include image.html width="45%" src="/assets/images/paraimalia/new3.gif"  subtile="ALL THIS BOSS SPRITES WAS MADE BY HAND! CAN YOU IMAGINE HOW BIG THIS SPRITE SHEET WAS? HOW COULD I BE SO STUPID? AND HE ONLY HAS 1 DUMB MOVE!!! JUST ANIMATE THIS BODY AND HANDS AS SEPARATED OBJECTS DAMNIT" %}

<p>
    After a couple weeks, finally I gave up on it! Screw everyone who wasked about it, I'm not a dedicated game artist after all! 
    Although I would have failed once again by <a href="/games/tnbd">starting a project that would require a dedicated game artist... </a>
</p>