---
layout: gamepost
title: Rocket Rush
thumbnail: /assets/images/rrush/thumbnail.gif
tools: Unity engine(C#), Blender
date: 2018-05-05
---

<p>
    Rocket Rush was the product of a 4-days internal game jam from <a href="https://www.gazeus.com">Gazeus</a>, a game studio localized in Rio de Janeiro.
</p>

<h1>Development</h1>
<p>
    I participated in it as a kind of freelancer. Previously hadn't much experience with developing a game with a team.
    Made the 3D assets and some coding as well.
</p>

<br>
<a href="https://play.google.com/store/apps/details?id=com.leelagames.rocket.rush">
    <img src="/assets/images/googleplay.png" style="height:32px">
</a>
<br>

{% include image.html width="45%" src="/assets/images/rrush/0.png"  subtile="" %}
{% include image.html width="45%" src="/assets/images/rrush/1.png"  subtile="" %}
{% include image.html width="45%" src="/assets/images/rrush/2.png"  subtile="" %}
{% include image.html width="45%" src="/assets/images/rrush/3.png"  subtile="" %}

<h3>Experience</h3>
<p>
    Casual and mobile games isn't much of my style but I honestly enjoyed the experience of finishing it. Also the people there were very friendly.
    It was my first time at a professional developing environment, and I remember being nervous because of it, but got a nice feedback overall. I already 
    knew some friends who worked there, which helped me feel a little more in home.
</p>

