---
layout: gamepost
title: TNBD
thumbnail: /assets/images/tnbd/0.gif
tools: Godot Engine, Aseprite
date: 2017-05-28
---

<p>
    TNBD is an acronymous for "Totally not Bravely Default", a game totally <i>not</i> inspired on the Square Enix's famous 3DS game. 
</p>

<h1>Development</h1>
<p>
    Never released any demo or so. I was feature-creeping it for long ~5 months. It was meant to be just a short-cycled roguelite with turn-based fights.
    I think the idea was simply bad though, haven't came up with a solid plan already. I remember wishing that someone could help me with game design decisions 
    or graphical assets, while I could focus on programming things. 
</p>

<br>
<a href="https://github.com/rilpires/TNBD"><img src="/assets/images/github.png" style="height:32px">Github Page</a>
<br>
<span class="smoll">*Currently lacking a exported executable*</span>
<br>

{% include image.html width="45%" src="/assets/images/tnbd/1.gif"       subtile="Walking around a generated room" %}
{% include image.html width="45%" src="/assets/images/tnbd/transition.gif"  subtile="Room transition" %}
{% include image.html width="45%" src="/assets/images/tnbd/0.gif"       subtile="Looking back, this overall design was not bad." %}
{% include image.html width="50%" src="/assets/images/tnbd/MAPGEN.gif"  subtile="Made this OK room generator." %}

<h1>Reworked graphics</h1>
<p>
    At this moment, I was struggling with creating the pixel art assets. While I was very satisfied with my own art, I was digesting the idea that 
    it solely was just TOO much work as well... have thought about reducing sprites resolution, would be neccessary to refactor some others things.
    Tried it:
</p>

{% include image.html width="45%" src="/assets/images/tnbd/part2_0.gif"     subtile="" %}
{% include image.html width="45%" src="/assets/images/tnbd/part2_1.gif"     subtile="" %}
{% include image.html width="45%" src="/assets/images/tnbd/part2_2.gif"     subtile="Those damned Squirtles" %}


<h3>Not enough...</h3>
<p> 
    Was naive to think that merely reducing resolutions would help: it isn't how pixel art works... of course there is less squares to paint, but also more work to
    decide where to put those remaining ones. At this point I gave up and decided that I won't ever try again to make a game that requires a 
    considerably amount of graphical assets (pixel art or not) alone. 
</p>

<br>
<img src="/assets/images/tnbd/knight.gif" class="pixelated"  style="width: 8%;">
<img src="/assets/images/tnbd/rogue.gif"  class="pixelated"  style="width: 11%;">
<img src="/assets/images/tnbd/sorc.gif"   class="pixelated"  style="width: 6%;">
<img src="/assets/images/tnbd/priest.gif" class="pixelated"  style="width: 6%;">
<br>
<span class="smoll">The old now dead gang</span>
