
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>
<body class="body">
    
    <div class="box headerpanel">
        <div>
            <h1 style="flex-grow: 1;" class="title" >
                <img src="/assets/images/joe.png">
                <a href="/index.html" class="bigasstitle" >@rilpires</a>
                <img src="/assets/images/joe.png">
            </h1>
        </div>
        
    </div>

    <div class="box" style="width: 90%;">
    Contact me:
    <img src="/assets/images/emailicon.png" style="height: 24px; width: 24px; padding-left: 32px;"> rilpires@gmail.com
    <img src="/assets/images/github.png" style="height: 24px; width: 24px; padding-left: 32px;"> <a href="https://github.com/rilpires">rilpires</a>
    </div>

    
    <div id="panelsparent">
        
        
        
        <div id="sidepanel" class="box">

            <div>
                <img src="/assets/images/trainer.png" style="width:48px">
                <span style="font-size: 32px;">Personal projects</span>
                <img src="/assets/images/trainer.png" style="width:48px">
            </div>
            
            <br>
            
            <ul>
            {% for post in site.posts %}
                <a href="{{post.url}}">
                <li style="font-size: x-large; width: 90%;" class="box" >
                    {{ post.title }}
                </li>
                </a>
            {% endfor %}

                
            <a href="/games.html">
            <li style="font-size: x-large; width: 90%;" class="box" >
                Games
            </li>
            </a>

            {% for i in (1..5) %}
                <li class="box" style="width: 90% ; opacity: 50%;" >
                    <img src="/assets/images/wip.gif" style="width: 20%;">
                    !Coming soon!
                    <img src="/assets/images/wip.gif" style="width: 20%;">
                </li>
            {% endfor %}
            </ul>
        </div>
    
        <div id="postpanel" class="box" >
            {{ content }}
        </div>
    
    </div>

    Last update: {{site.time}}

</body>
</html>